ion-header{
    background-color: yellow;
    color: black;
    text-align: center;
    height: 120px;
    position: initial !important;
}

.avatar{
    margin: auto;
    margin-top: 50px !important;
    background-color: white;
    opacity: 0px;
}

.titulo-perfil{
    font-family: cursive,Snell Roundhand;
    font-size: 18px; 
}

.inputs{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.circulo{
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
}

.icone{
    height: 45px;
    width: 45px;
    margin: 2.5px;
    color: darkgrey;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 5px;
}