// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ion-padding{
    background-position: 50%;
    position:absolute;
    left:0px;
    top:0;
    margin-top:-50%;
    height: 100%;
    width:100%;
    margin:0;
    background-image: url(https://i2.wp.com/besthqwallpapers.com/img/original/40410/black-skin-4k-black-background-leather-texture.jpg);
    
}

.toolbar-container{
    background-color: black;
}