<ion-header>
  <ion-toolbar>
    <ion-title>
      Workers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    
    <div class="buttons">
        <h1 style="color:aliceblue;" class="animated infinite pulse">Bem vindo</h1>
      <ion-button [routerLink]="['/prestador/cadastrar']" routerDirection="forward">Criar conta</ion-button>
      <ion-button [routerLink]="['/prestador/login']" routerDirection="forward">Login</ion-button>
    </div>
  </div>
</ion-content>